.page_content {
    background-color: #fcf5f5;
    // position: fixed;
    // left: 50px;
    // top: 80px;
    // bottom: 20px;
    width: 62vw;
    box-sizing: border-box;
    border-radius: 30px;
}

.category_task_container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.category_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vw;
    background-color: #fbebec;
    border-radius: 30px 30px 0 0;
    padding: 0 20px;
    .category_title{
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        h1 {
            font-size: 20px;
            color:#593b3a;
            margin: 0;
        }
        p {
            font-size: 12px;
            color:#593b3a;
            margin: 0;
        }
    }
    .buttons {
        display: flex;
        align-items: center;
        .material-icons {
            color: #593b3a;
            text-decoration: none;
            padding: 10px;
            cursor: pointer;
            transition: transform 0.3s ease;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

.task_container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 0 20px;
    overflow-y: auto;
}

.task_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
        font-size: 18px;
        color:#593b3a;
        margin-bottom: 20px;
    }
    .material-icons {
        color: #593b3a;
        text-decoration: none;
        &:hover {
            background-color: #593b3a;
            color: #f8cccc;
            border-radius: 20px;
        }
    }
}

.task_list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 280px; 
    overflow-y: auto; 
}

.task_card {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    background-color: #ffeff0;
    border: 2px solid #593b3a;
    width: 20vw;
    border-radius: 20px;
    padding: 10px;
    .buttons {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 15px 0 10px ;
        .material-icons {
            color: #593b3a;
            text-decoration: none;
            font-size: 20px;
            padding: 10px;
            cursor: pointer;
            transition: transform 0.3s ease;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

.task_content{
    display: flex;
    flex-direction: column;
    h2 {
        font-size: 15px;
        color:#593b3a;
        margin: 0;
    }
    p {
        font-size: 12px;
        color:#593b3a;
        margin: 0;
    }
    .material-icons {
        color: #593b3a;
        text-decoration: none;
        font-size: 15px;
        cursor: pointer;
        font-weight: thin;
        margin-right: 5px;
    }
}

.task_status {
    display: flex;
    align-items: center;
}